* {
    margin: 0%;
    padding: 0%;
}

.showcase {
    width: 100%;
    height: 100vh;  /* to make webiste responsive */
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(./images/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}